.flipContainer {
  perspective: 1000px;
  min-height: 500px;
}

.flipInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
  transform-style: preserve-3d;
  will-change: transform;
}

.flipInner.flipped {
  transform: rotateY(180deg);
}

.flipFront,
.flipBack {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}

.flipBack {
  transform: rotateY(180deg);
}


